@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


body{
    background-image: url(https://t4.ftcdn.net/jpg/01/84/78/31/360_F_184783181_lvqQFgW3q9ltsf8iVkavYKemAXSy1lFd.jpg);
    font-family: 'Knewave', cursive;
text-align: center;
}

h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Knewave', cursive;
    color: red;
    background-color: rgb(240, 227, 218);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Knewave', cursive;
    color: red;
    background-color: rgb(240, 227, 218);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#button-id {
    width: 100%;
}



button {
    font-size: 2em;
    font-family: 'Knewave', cursive;
    background-color: yellow;
    border-radius: 5px;
    border: 1px solid red;
    text-align: center;
   
}


main {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .cell {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(240, 227, 218);
    
  }


  
  .selected {
    background-color: yellow;
  }



  .player-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    
  }

  .player-cell {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 2px;
    
  }